/*以下header関連*/
.header {
  color:white;
  text-align:center;
}

.header h1{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size:60px;
}

.header h3{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.header-logo{
  display: block;
  width: 210px;
  height: 80px;
  z-index:1001;
}

.jumbotron-header2{
  background: url(/static/images/recommendation_background.jpg);
  background-size: cover;
  position: relative;
  height: 75vh;
  font-family: 'Noto Sans JP', sans-serif;
}

.jumbotron-container {
    position: relative;
    top: 50%;
}

/*以下ハンバーガーメニュー関連*/
.drawer-hidden {
  display: none;
  z-index: 1001;/* 重なり順を一番上に */
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;/* 重なり順を一番上に */
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #F2B077;
  transition: 0.5s;
  position: fixed;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  top: 30px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 48px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  top: 39px;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 39px;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  transition: .5s;
  text-align: left;
}

.drawer-content ul{
  list-style: none;
}

.drawer-content li{
  padding: 10px 0px;
}

.menu{
  color: #ffffff;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.drawer-list {
  padding: 50px 10px;
}

.header a {
font-weight:bold;
text-decoration:none;
}
.header a:link {
color:#ffffff;
}
.header a:visited {
color:#ffffff;
}
.header a:hover {
color:#F2B077;
}
.header a:active {
color:#F2B077;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 80%;/* メニューを画面に入れる */
}

/*以下swiper関連*/
.swiper-container {
    height: 100vh;
    width: 100%;
}

.swiper-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-shadow: #3c7639 1px 0 10px;
}

.subswiper{
  display: none;
}

/*以下main関連*/
.main{
  font-size:15px;
  padding:0px;
  text-align:center;
}

body{
  padding: 0px;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

span{
  text-align: center
}

/*以下subtitle関連*/
.color1{
  background-color:#3c7639;
}

.color2{
  background-color:#ff7c11;
}

.color3{
  background-color:#b0c01f;
}

.heightadjust2{
  display:flex;
  flex-direction:column;
  justify-content :center;
}

.subtitle{
  width: 100%;
  font-size:35px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  padding:20px 20px;
  text-align:center;
  color:#ffffff;
}

.box {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align:left;
  padding: 10px 30px;
  line-height:1.7;
}

/*以下更新関連*/
div.changelog{
  width: 60%;
  height: 200px;
  overflow-y: scroll;
  border: 2px solid 3c7639;
  margin: 0 0 30px 0;
  padding: 10px 20px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
}

.update{
  background-image: url("/static/images/kabe2.png");
  text-align: center;
}

.topic{
  margin : 60px 0px;
}

/*以下subtitleのボタン関連*/
.button-submit {
  display       : inline-block;
  font-size: 18px;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 20px;
  background: #d84914;
  border-bottom: solid 4px #AB3707;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 6px;
  color         : #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  margin:12px 0px;
}

.button-submit:hover {
  margin-top: 16px;
  color         : #ffffff;
  background    : #f56500;
  border-bottom: none;
}

.button-back{
  display       : inline-block;
  font-size     : 18pt;
  font-weight: bold;
  text-align    : center;
  float: right;
  cursor        : pointer;
  padding       : 12px 10px;
  margin: 20px 0 35px 0;
  background: #ffffff;
  color         : #3c7639;
  transition    : .3s;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  border: none;
}

.button-back :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

#disclaimer{
  display       : inline-block;
  font-size     : 12pt;
  text-align    : center;
  float: center;
  cursor        : pointer;
  padding       : 0px 10px;
  background: #ffffff;
  color         : #006600;
  transition    : .3s;
  font-family: 'Montserrat', sans-serif;
  margin-top:20px;
  margin-bottom:20px;
  border-left: none;
  border-right: none;
  border-top:solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-radius: 0px;
  padding:20px 40px;
 }

#disclaimer :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

#note{
  display       : inline-block;
  font-size     : 8pt;
  text-align    : center;
  float: center;
  cursor        : pointer;
  padding       : 0px 10px;
  background: #ffffff;
  color         : #dcdcdc;
  transition    : .3s;
  font-family: "Avenir Next", sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  border-left: none;
  border-right: none;
  border-top:solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-radius: 0px;
  padding:0px 10px;
 }

#note :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

input {
  background-color: #f5f5f5;
}

.item {
  float:left;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color:#666666;
  margin-top:25px;
}

.explanationa{
  text-align: left;
  border: dashed 4px #3c7639;
  padding: 10px 20px;
}

.explanationb{
  text-align: left;
  border: dashed 4px #ff7c11;
  padding: 10px 20px;
}

.explanationc{
  text-align: left;
  border: dashed 4px #b0c01f;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.card-font{
  font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


/*以下矢印記号関連*/
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 25px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.8rem;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrowa::before{
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3c7639;
}

.arrowa::after{
  left: 8px;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}

.arrowb::before{
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ff7c11;
}

.arrowb::after{
  left: 8px;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}

.arrowc::before{
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b0c01f;
}

.arrowc::after{
  left: 8px;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
}

.arrowback{
    position: relative;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.2rem;
}
.arrowback::before,
.arrowback::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrowback::before{
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3c7639;
}

.arrowback::after{
  left: 4px;
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 3px solid transparent;
  border-right: 3px solid #fff;
}

.item_title{
  padding: 10px;
}

input[type=radio]{
  display:none;
}

input:checked + label {
  background-color: transparent;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.radio {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  width: 100%; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #696969; /* フォントの色を指定 */
  background-color:#dcdcdc;
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
}

/*リンクについて*/
a:link {
color:#ffffff;
}

a:visited {
color:#ffffff;
}

a:hover {
color:#ffffff;
}

a:active {
color:#ffffff;
}

/*ここから下はFooter関連*/
.footer-sentence{
  font-size:15px;
  text-align:right;
  padding-right: 20px;
  float:right;
  color:white;
}

.footer-logo{
  float:left;
  width:280px;
  height:100px;
}

.facebook-logo{
  width:40px;
  height:auto;
}

#logo-space{
  text-align: center;
}

.footer {
    background-color: #3c7639;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    padding-top:50px;
    width: 100%;
    bottom: 0;
    color: white;
}

.footer ul{
    padding-left:5px;
    list-style:none;
    font-weight: lighter;
    text-align : left;
}
.footer p{
    text-align : justify;
    font-size : 12px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: normal;
}
.footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
}
.sm li a img {
    width:32px;
}

#hplink a:visited{
  color:white;
}

.lastone p{
  border-top: solid 1px #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 30px 10px;
  margin: 20px 10px;
}

@media screen and (max-width: 576px){
  .main{
    margin: 0 5px;
  }
}

@media screen and (max-width: 576px){
  .main-result{
    margin: 0 5px;
  }
}

@media screen and (max-width: 1200px){
  .subswiper{
    display: block;
  }
}

@media screen and (max-width: 1200px){
  .mainswiper{
    display: none;
  }
}

/* フェードイン表示のための指定 */

.topic{
  /* transformした際に領域からはみ出した部分は表示しないようにする */
  overflow: hidden;
}

/* 画像の初期状態 */
.initial-image{
  /* 初期状態。不透明度を0にし、translateで横にずらしておく。 */
  opacity: 0;
  transform: translate(440px,0);
  /* transitionの設定。アニメーションの動きを設定する。 */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0s; /* 最初に動く要素は遅延をかけない。*/
}
/* テキストキャプションの初期状態 */
.initial-caption{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0.5s; /* 設定値が変更されたあと、実際に変化が始まるのが0.5秒後 */
}
/* テキスト本文の初期状態 */
.initial-text{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 1.0s; /* 設定値が変更されたあと、実際に変化が始まるのが1秒後 */
}

.initial-imagea{
  /* 初期状態。不透明度を0にし、translateで横にずらしておく。 */
  opacity: 0;
  transform: translate(-440px,0);
  /* transitionの設定。アニメーションの動きを設定する。 */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0s; /* 最初に動く要素は遅延をかけない。*/
}
/* テキストキャプションの初期状態 */
.initial-captiona{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0.5s; /* 設定値が変更されたあと、実際に変化が始まるのが0.5秒後 */
}
/* テキスト本文の初期状態 */
.initial-texta{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 1.0s; /* 設定値が変更されたあと、実際に変化が始まるのが1秒後 */
}

.initial-buttona{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 1.5s; /* 設定値が変更されたあと、実際に変化が始まるのが1秒後 */
}

.initial-imageb{
  /* 初期状態。不透明度を0にし、translateで横にずらしておく。 */
  opacity: 0;
  transform: translate(440px,0);
  /* transitionの設定。アニメーションの動きを設定する。 */
  transition-property: all;
  transition-duration: 1.0s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0s; /* 最初に動く要素は遅延をかけない。*/
}

.initial-captionb{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0.5s; /* 設定値が変更されたあと、実際に変化が始まるのが0.5秒後 */
}
/* テキスト本文の初期状態 */
.initial-textb{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 1.0s; /* 設定値が変更されたあと、実際に変化が始まるのが1秒後 */
}

.initial-buttonb{
  /* 初期状態。不透明度を0にし、translateで下にずらしておく。 */
  opacity: 0;
  transform: translate(0,100px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 1.5s; /* 設定値が変更されたあと、実際に変化が始まるのが1秒後 */
}

/* 画面内に表示された際に指定するスタイル。*/
.animated{
  /* 不透明度とtranslateで移動させた状態を元の値に戻す */
  opacity: 1;
  transform: translate(0,0);
}

.initial-header{
  background:transparent;
  color: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.animated-header{
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease; /* 最初の変化が急で、最後は穏やか。*/
  transition-delay: 0s; /* 最初に動く要素は遅延をかけない。*/
  background:#3c7639;
}
