/*header関連*/
.header {
  color:white;
  text-align:center;
}

.header h1{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size:60px;
}

.header h3{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.jumbotron-header{
  background: url(/static/images/toppage1103.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*------------------------------

  ここから下がハンバーガーメニュー
  に関するCSS

------------------------------*/

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  transition: 0.5s;
  position: fixed;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  top: 30px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 48px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  top: 39px;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 39px;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  transition: .5s;
  text-align: left;
}

.drawer-content ul{
  list-style: none;
}

.drawer-content li{
  padding: 10px 0px;
}

.menu{
  color: #ffffff;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.drawer-list {
  padding: 50px 10px;
}

.header a {
font-weight:bold;
text-decoration:none;
}
.header a:link {
color:#ffffff;
}
.header a:visited {
color:#ffffff;
}
.header a:hover {
color:#F2B077;
}
.header a:active {
color:#F2B077;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 80%;/* メニューを画面に入れる */
}

/*main関連*/
.main{
  font-size:15px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding:0px;
  text-align:center;
}

.heightadjust{
  height: 75vh;
  margin: 40px 20px;
}

.color1{
  background-color:#3c7639;
}

.color2{
  background-color:#ff7c11;
}

.color3{
  background-color:#b0c01f;
}

.heightadjust2{
  display:flex;
  flex-direction:column;
  justify-content :center;
}

.subtitle{
  width: 100%;
  font-size:35px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  padding:40px 20px;
  text-align:center;
  color:#ffffff;
}

.box {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  color: #ffffff;
  text-align:left;
}

.img-size{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.changelog{
  width: 60%;
  height: 200px;
  overflow-y: scroll;
  border: 2px dashed #888;
  margin: 0px auto;
}

body{
  padding: 0px;
  background-color: #ffffff;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

span{
  text-align: center
}

.button-submit {
  display       : inline-block;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 30px;
  background: #F2B077;
  color         : #ffffff;
  transition    : .3s;
  font-family: 'Montserrat', sans-serif;
  margin:25px 0px;
  border: none;
}

.button-submit:hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #D9CB04;
}

.button-back{
  display       : inline-block;
  font-size     : 12pt;
  text-align    : center;
  float: right;
  cursor        : pointer;
  padding       : 12px 10px;
  background: #ffffff;
  color         : #3c7639;
  transition    : .3s;
  font-family: 'Montserrat', sans-serif;
  margin-top:20px;
  margin-bottom: 20px;
  border: none;
}

.button-back :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

#disclaimer{
  display       : inline-block;
  font-size     : 12pt;
  text-align    : center;
  float: center;
  cursor        : pointer;
  padding       : 0px 10px;
  background: #ffffff;
  color         : #006600;
  transition    : .3s;
  font-family: 'Montserrat', sans-serif;
  margin-top:20px;
  margin-bottom:20px;
  border-left: none;
  border-right: none;
  border-top:solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-radius: 0px;
  padding:20px 40px;
 }

#disclaimer :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

#note{
  display       : inline-block;
  font-size     : 8pt;
  text-align    : center;
  float: center;
  cursor        : pointer;
  padding       : 0px 10px;
  background: #ffffff;
  color         : #dcdcdc;
  transition    : .3s;
  font-family: "Avenir Next", sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  border-left: none;
  border-right: none;
  border-top:solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  border-radius: 0px;
  padding:10px 40px;
 }

#note :hover {
  box-shadow    : none;
  color         : #ffffff;
  background    : #3c7639;
}

input {
  background-color: #f5f5f5;
}



.item {
  float:left;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color:#666666;
  margin-top:25px;
}

input[type=radio]{
  display:none;
}

input:checked + label {
  background: #3c7639;/* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.radio {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  width: 100%; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  color: #696969; /* フォントの色を指定 */
  background-color:#dcdcdc;
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
}

/*ここから下はFooter関連*/
.footer-sentence{
  font-size:15px;
  font-family: "Avenir Next", sans-serif;
  text-align:right;
  padding-right: 20px;
  float:right;
  color:white;
}

.footer-logo{
  float:left;
  width:280px;
  height:100px;
}

.footer {
    background-color: #3c7639;
    padding-top:40px;
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}

.footer h3{
    font-weight:lighter;
}
.footer ul{
    padding-left:5px;
    list-style:none;
}
.footer p{
    text-align : justify;
    font-size : 12px;
}
.footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
}
.sm li a img {
    width:32px;
}

#hplink a:visited{
  color:white;
}

@media screen and (max-width: 576px){
  .main{
    margin: 0 5px;
  }
}

@media screen and (max-width: 576px){
  .main-result{
    margin: 0 5px;
  }
