<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://scfm-hm.appspot.com/index"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="SCFM Health Maintenance App"/>
    <meta property="og:image" content="https://scfm-hm.appspot.com/static/images/OGP.jpg"/>
    <meta property="og:description" content=“滋賀家庭医療学センター(SCFM)によるヘルスメンテナンスのホームページです”/>
    <title>SCFM Health Maintenance</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'topnew.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="jumbotron jumbotron-fluid jumbotron-header">
        <div class="drawer">
          <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
          <input type="checkbox" id="drawer-check" class="drawer-hidden" >
          <!-- ハンバーガーアイコン -->
          <label for="drawer-check" class="drawer-open"><span></span></label>
          <!-- メニュー -->
          <nav class="drawer-content">
            <ul class="drawer-list">
              <li class="drawer-item">
                <a href="" class="menu">トップページ</a>
              </li><!-- /.drawer-item -->
              <li class="drawer-item">
                <a href="" class="menu">滋賀家庭医療学センターによる予防医療の一覧</a>
              </li><!-- /.drawer-item -->
              <li class="drawer-item">
                <a href="" class="menu">ウェブアプリケーション</a>
              <li class="drawer-item">
                <a href="https://yugemed.com" class="menu">弓削メディカルクリニックについて</a>
              <li class="drawer-item">
                <a href="https://scfm.jp" class="menu">滋賀家庭医療学センターについて</a>

              </li><!-- /.drawer-item -->
            </ul><!-- /.drawer-list -->
          </nav>
        </div>
        <div class="container-fluid jumbotron-container">
          <h1>予防医療・健康増進の情報ページ</h1>
          <h3>Information about Preventive Medicine</h3>
          <h3>Presented by SCFM</h3>
        </div>
      </div>
    </div>

    <!-- 以下main -->
    <div class="main">
      <div class="container">
        <div class="row topic heightadjust color1">
          <div class="col-sm-6 heightadjust2">
            <h2 class="subtitle">予防医療とは？</h2>
            <div class="box">
              <p>予防医療・ヘルスメンテナンスは、健康を維持・増進するために医療者が患者に対して積極的に行う推奨・勧奨のことであり、スクリーニング、カウンセリング、予防接種、予防的内服に分類されます。どのような項目が推奨されるかについては、米国予防医学専門委員会(USPSTF)のホームページ、日本プライマリケア連合学会による「根拠に基づく予防医療推奨サイト」、国立がん研究センターの提供する「科学的根拠に基づくがん検診推進のページ」などが参考になります</p>
            </div>
          </div>
          <div class="col-sm-6 heightadjust2">
            <img src="/static/images/tanbo.jpg" class="img-fluid rounded img-size">
          </div>
        </div>
        <div class="row topic heightadjust color2">
          <div class="col-sm-6 heightadjust2">
            <img src="/static/images/image2.jpg" class="img-fluid rounded img-size">
          </div>
          <div class="col-sm-6 heightadjust2">
            <h2 class="subtitle">予防医療の抱える問題</h2>
            <div class="box">
              <p>米国と日本における考え方や検査体制の違いもあり、実際にどのような検査を患者に推奨するか悩まれた方は多いと思います。また、実際に予防医療・ヘルスメンテナンスを患者に適用するためには、どこでその検査が受けられるのか、いつその検査が受けられるのか、費用はいくらかかるのかなど、周囲の検査・医療リソースや日本における公的補助の体制についても把握する必要があります。</p>
            </div>
            <input type = "submit" value = "See Our Recommendation" class="button-submit">
          </div>
        </div>
        <div class="row topic heightadjust color3">
          <div class="col-sm-6 heightadjust2">
            <h2 class="subtitle">ウェブアプリケーションについて</h2>
            <div class="box">
              <p>予防医療・ヘルスメンテナンスは、健康を維持・増進するために医療者が患者に対して積極的に行う推奨・勧奨のことであり、スクリーニング、カウンセリング、予防接種、予防的内服に分類されます。どのような項目が推奨されるかについては、米国予防医学専門委員会(USPSTF)のホームページ、日本プライマリケア連合学会による「根拠に基づく予防医療推奨サイト」、国立がん研究センターの提供する「科学的根拠に基づくがん検診推進のページ」などが参考になります</p>
            </div>
            <input type = "submit" value = "Use Application" onclick="location.href='index'" class="button-submit">
          </div>
          <div class="col-sm-6 heightadjust2">
            <img src="/static/images/conference.jpg" class="img-fluid rounded img-size">
          </div>
        </div>
        <div class="row topic">
          <div class="col-sm-12">
            <h2 class="subtitle">更新履歴</h2>
            <div class="changelog">
              <dl>
                <dt>2020.10.28
                  <dd>トップページを更新しました。
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 以下footer -->
    <div class="footer">
      <div class="container">
      <div class="row">
        <div class="col-md-4" >
  		    <h3>About us</h3>
  		    <p>
  		        Yuge Medical Clinic is a clinic which is located in the middle of Shiga prefecture. We have focused on high quality primary care and homemedical care, and we also have been engaged in education of family medicine in Shiga Prefecture.
  		    </p>
          <a href="https://scfm.jp"><img src="/static/images/SCFM1.png" class="footer-logo img-fluid"></a>
        </div>
        <div class="col-md-4">
          <h3>Our Location </h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.7384303296!2d136.1174659508822!3d35.08826776977322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017b43b7ad455f%3A0x301d1be235277d19!2z5byT5YmK44Oh44OH44Kj44Kr44Or44Kv44Oq44OL44OD44Kv77yI5Yy755mC5rOV5Lq656S-5Zuj77yJ5Zyo5a6F5Yy755mC6YOo!5e0!3m2!1sja!2sjp!4v1597480432814!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  		  </div>
        <div class="col-md-4" >
          <h3>Contact Us</h3>
          <ul>
  		        <li>Phone : +81 - 748 - 57 - 1141</li>
  		        <li>E-mail : scfm-tsunoda@yugemed-scfm.com</li>
              <li id="hplink"><a href="https://scfm.jp">homepage : https://scfm.jp</a></li>
  		    </ul>
  		    <p>
  		        This application was made by Shiga Center for Family Medicine and Hideki Tsunoda. If there are any problems, please contact us.
  		    </p>
  		    <ul class="sm">
  		        <li><a href="https://www.facebook.com/scfm.jp/" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-fluid"></a></li>
  		        <li><a href="#" ><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-fluid" ></a></li>
  		    </ul>
        </div>
      </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
