<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://scfm-hm.appspot.com/index"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="SCFM Health Maintenance App"/>
    <meta property="og:image" content="https://scfm-hm.appspot.com/static/images/OGP.jpg"/>
    <meta property="og:description" content=“滋賀家庭医療学センター(SCFM)によるヘルスメンテナンスのホームページです”/>
    <title>SCFM Health Maintenance</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'topnew.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet">
    <!-- Swiper files -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <!-- キャッシュ使用防止 -->
    <link href=“topnew.css?20210211” />
    <!-- javascriptファイル -->
    <script src="/static/js/auto-load-anchor.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="initial-header">
        <img src="/static/images/SCFM3.png" class="img-fluid header-logo">
      </div>
      <div class="drawer">
          <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
          <input type="checkbox" id="drawer-check" class="drawer-hidden" >
          <!-- ハンバーガーアイコン -->
          <label for="drawer-check" class="drawer-open"><span></span></label>
          <!-- メニュー -->
          <nav class="drawer-content">
            <ul class="drawer-list">
              <li class="drawer-item">
                <a href="/" class="menu">トップページ</a>
              </li><!-- /.drawer-item -->
              <li class="drawer-item">
                <a href="recommendation" class="menu">予防医療の推奨項目一覧</a>
              </li><!-- /.drawer-item -->
              <li class="drawer-item">
                <a href="index" class="menu">ウェブアプリケーション</a>
              <li class="drawer-item">
                <a href="https://yugemed.com" class="menu">弓削メディカルクリニックについて</a>
              <li class="drawer-item">
                <a href="https://scfm.jp" class="menu">滋賀家庭医療学センターについて</a>

              </li><!-- /.drawer-item -->
            </ul><!-- /.drawer-list -->
          </nav>
        </div>


        <!-- Slider main container -->
        <div class="swiper-container display-main">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="/static/images/swiper1.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper2.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper3.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper4.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
        </div>
        <div class="swiper-container display-sub1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="/static/images/swiper9.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper10.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper11.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper12.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の情報ページ</h1>
                    <h3>Information about Preventive Medicine</h3>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
        </div>
        <div class="swiper-container display-sub2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="/static/images/swiper9.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の</h1>
                    <h1>情報ページ</h1>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper10.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の</h1>
                    <h1>情報ページ</h1>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper11.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の</h1>
                    <h1>情報ページ</h1>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
                <div class="swiper-slide">
                  <img src="/static/images/swiper12.jpg" class="img-fluid">
                  <div class="swiper-title">
                    <h2>医療従事者のための</h2>
                    <h1>予防医療の</h1>
                    <h1>情報ページ</h1>
                    <h3>Presented by SCFM and Hideki Tsunoda</h3>
                  </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
        </div>


    </div>
    <!-- 以下main -->
    <div class="main">
      <div class="container">
        <div class="row topic color1">
          <div class="col-md-6 heightadjust2 swiperanimation">
            <h2 class="subtitle initial-caption">予防医療とは？</h2>
            <div class="box initial-text">
              <p>予防医療・ヘルスメンテナンスは、健康を維持・増進するために医療者が患者に対して積極的に行う推奨・勧奨のことであり、スクリーニング、カウンセリング、予防接種、予防的内服に分類されます。患者の健康に責任を持つかかりつけ医として、疾患の管理だけではなく予防医療についてもエビデンスに基づいた適切な情報を提供していく必要があります。</p>
            </div>
          </div>
          <div class="col-md-6 heightadjust2 initial-image">
            <img src="/static/images/center.jpg" class="img-fluid">
          </div>
        </div>
        <div class="row topic color2">
          <div class="col-md-6 heightadjust2 initial-imagea">
            <img src="/static/images/room.jpg" class="img-fluid">
          </div>
          <div class="col-md-6 heightadjust2">
            <h2 class="subtitle initial-captiona">当院での推奨</h2>
            <div class="box initial-texta">
              <p>予防医療に関する情報源として、米国予防医療専門委員会(USPSTF)のホームページなどがありますが、日本では直接当てはめづらい点もあります。また、予防医療の実際に患者に実践するためには、どこでその検査が受けられるのか、いつその検査が受けられるのか、費用はいくらかかるのかなど、周囲の医療リソースや助成体制についても理解する必要があります。そこで、滋賀家庭医療学センターは当センターで実践している予防医療の一覧をオンラインで公開することにしました。</p>
            </div>
            <input type = "submit" value = "当院での推奨項目一覧へ" onclick="location.href='recommendation'" class="button-submit initial-buttona">
          </div>
        </div>
        <div class="row topic color3">
          <div class="col-md-6 heightadjust2">
            <h2 class="subtitle initial-captionb">ウェブアプリケーション</h2>
            <div class="box initial-textb">
              <p>忙しい外来業務の中では時間は限られており、予防医療は後回しになってしまいがちです。そこで、当センターでは患者の情報を入力すると、その患者に推奨される予防医療の項目一覧を見ることができるウェブアプリケーションを作成・リリースしました。簡単な情報を入力するだけで、目の前の患者に実践すべき予防医療の一覧が表示されます。このアプリケーションが皆さまの日々の診療における予防医療実践の一助になれば幸いです。</p>
            </div>
            <input type = "submit" value = "ウェブアプリケーションへ" onclick="location.href='index'" class="button-submit initial-buttonb">
          </div>
          <div class="col-md-6 heightadjust2 initial-imageb">
            <img src="/static/images/conference2.jpg" class="img-fluid">
          </div>
        </div>
        <div class="row topic">
          <div class="col-sm-12 update">
            <h2 class="subtitle">更新履歴</h2>
            <div class="changelog">
              <dl>
                <dt>2020.2.9
                  <dd>各種検診項目の推奨を更新しました。
                  <dd>トップページを更新しました。
                <dt>2020.9.4
                  <dd>予防医療に関するウェブアプリケーションをリリースしました。
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 以下footer -->
    <div class="footer">
      <div class="container">
      <div class="row">
        <div class="col-md-4" >
          <h4>滋賀家庭医療学センターとは？</h4>
          <p>
             滋賀家庭医療学センター(SCFM)は、医療法人社団弓削メディカルクリニックを統括施設/経営母体とする団体です。主に家庭医療にまつわる臨床・教育事業を質高く展開し、良質な医療として社会に還元していきます。特にメインの事業として、「家庭医/総合診療医の養成」を掲げており、この地から良質な家庭医を数多く育てていけるよう、日夜努力しております。 
          </p>
          <a href="https://scfm.jp"><img src="/static/images/SCFM1.png" class="footer-logo img-fluid"></a>
        </div>
        <div class="col-md-4">
          <h4>所在地</h4>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.7384303296!2d136.1174659508822!3d35.08826776977322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017b43b7ad455f%3A0x301d1be235277d19!2z5byT5YmK44Oh44OH44Kj44Kr44Or44Kv44Oq44OL44OD44Kv77yI5Yy755mC5rOV5Lq656S-5Zuj77yJ5Zyo5a6F5Yy755mC6YOo!5e0!3m2!1sja!2sjp!4v1597480432814!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-4" >
          <h4>連絡先</h4>
          <ul>
              <li>Phone : 0748 - 57 - 1141</li>
              <li>E-mail : scfm-tsunoda@yugemed-scfm.com</li>
              <li id="hplink"><a href="https://scfm.jp">homepage : https://scfm.jp</a></li>
          </ul>
          <p>
              このホームページは滋賀家庭医療学センターとHideki Tsunodaによって管理されています。もし、ご質問・ご意見がございましたら、上記までご一報ください。
          </p>
           <a href="https://www.facebook.com/scfm.jp/" ><img src="/static/images/f_logo_RGB-Blue_250.png" class="facebook-logo img-fluid"></a>
           <a href="https://www.facebook.com/scfm.jp/" ><img src="/static/images/Thumb-Icon-RGB-512.png" class="facebook-logo img-fluid"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 lastone" >
          <p>Copyright © Shiga Center for Family Medicine. All Right Reserved.</p>
        </div>
      </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Swiperのスクリプト部 -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <!-- auto-load-anchorのスクリプト部 -->
    <script>
    if( window.innerWidth < 768 ){
      let obj = new AutoLoadAnchor({
        // 表示起点の対象になる要素をセレクタで指定する。
        // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
        // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
        anchorSelector: '.color1',
        // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
        func: (target) => {
          // それぞれの要素にanimatedクラスを付与する。
          // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
          target.querySelector('.initial-image').classList.add('animated');
          target.querySelector('.initial-caption').classList.add('animated');
          target.querySelector('.initial-text').classList.add('animated');
        },
        // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
        anchorPoint: "top",
      })
    }else{
      let obj = new AutoLoadAnchor({
        // 表示起点の対象になる要素をセレクタで指定する。
        // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
        // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
        anchorSelector: '.color1',
        // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
        func: (target) => {
          // それぞれの要素にanimatedクラスを付与する。
          // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
          target.querySelector('.initial-image').classList.add('animated');
          target.querySelector('.initial-caption').classList.add('animated');
          target.querySelector('.initial-text').classList.add('animated');
        },
        // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
        anchorPoint: "bottom",
      })
    }
      </script>
      <script>
      if( window.innerWidth < 768 ){
        let obj1 = new AutoLoadAnchor({
          // 表示起点の対象になる要素をセレクタで指定する。
          // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
          // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
          anchorSelector: '.color2',
          // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
          func: (target) => {
            // それぞれの要素にanimatedクラスを付与する。
            // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
            target.querySelector('.initial-imagea').classList.add('animated');
            target.querySelector('.initial-captiona').classList.add('animated');
            target.querySelector('.initial-texta').classList.add('animated');
            target.querySelector('.initial-buttona').classList.add('animated');
          },
          // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
          anchorPoint: "top",
        })
      }else{
        let obj1 = new AutoLoadAnchor({
          // 表示起点の対象になる要素をセレクタで指定する。
          // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
          // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
          anchorSelector: '.color2',
          // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
          func: (target) => {
            // それぞれの要素にanimatedクラスを付与する。
            // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
            target.querySelector('.initial-imagea').classList.add('animated');
            target.querySelector('.initial-captiona').classList.add('animated');
            target.querySelector('.initial-texta').classList.add('animated');
            target.querySelector('.initial-buttona').classList.add('animated');
          },
          // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
          anchorPoint: "bottom",
        })
      }

    </script>
    <script>
    if( window.innerWidth < 768 ){
      let obj2 = new AutoLoadAnchor({
        // 表示起点の対象になる要素をセレクタで指定する。
        // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
        // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
        anchorSelector: '.color3',
        // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
        func: (target) => {
          // それぞれの要素にanimatedクラスを付与する。
          // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
          target.querySelector('.initial-imageb').classList.add('animated');
          target.querySelector('.initial-captionb').classList.add('animated');
          target.querySelector('.initial-textb').classList.add('animated');
          target.querySelector('.initial-buttonb').classList.add('animated');
        },
        // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
        anchorPoint: "top",
      })
    }else{
      let obj2 = new AutoLoadAnchor({
        // 表示起点の対象になる要素をセレクタで指定する。
        // 以下の指定だと、"topic"クラスが付与されている要素が表示された時点でfuncが実行される。
        // topicクラスが付与されている要素は複数あり、それぞれに表示された時点で起動する。
        anchorSelector: '.color3',
        // そのセレクタの対象要素が画面内に表示された際に実行する関数を設定する。
        func: (target) => {
          // それぞれの要素にanimatedクラスを付与する。
          // topicクラス要素の子要素以下の構造がどの要素でも同一であれば、同じ指定を使いまわすことができる。
          target.querySelector('.initial-imageb').classList.add('animated');
          target.querySelector('.initial-captionb').classList.add('animated');
          target.querySelector('.initial-textb').classList.add('animated');
          target.querySelector('.initial-buttonb').classList.add('animated');
        },
        // 対象要素の下端が表示された時点でfuncが実行されるようにbottomを指定。
        anchorPoint: "bottom",
      })
    }

  </script>
  <script>
  // ここからはヘッダーメニューのJS。
  let obj3 = new AutoLoadAnchor({
    anchorSelector: '.swiperanimation',
    func: (target) => {
      document.querySelector('.initial-header').classList.add('animated-header');
    },
    anchorPoint: "bottom",
  })
  </script>
  <script>
  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters
    direction: 'vertical',
    loop: true,
    spaceBetween: 30,
    effect: 'fade',


    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    // ここからは自分が足したもの
    loop: true,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
    speed: 3000,
    noSwiping: true,
    noSwipingClass: "swiper-container",
  })
  </script>
  </body>
</html>
